/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
/.env
/.env.backup
/.env.production

/bootstrap/cache/*
/storage/framework/cache/*
/storage/framework/views/*
/storage/framework/sessions/*
/storage/logs/*
/storage/pail

.phpunit.result.cache
/.phpunit.cache

/public/build

*.log

.DS_Store
Thumbs.db

/.idea
/.fleet
/.nova
/.vscode
/.zed

.phpactor.json
Homestead.json
Homestead.yaml
/auth.json
